.kk-stamp {
  --r: 10px;

  box-sizing: border-box;
  width: 100%;
  padding: var(--r);
  background: #F4D35E;
  mask:
    radial-gradient(50% 50%, #0000 66%, #000 67%) round
      var(--r) var(--r) / calc(2 * var(--r)) calc(2 * var(--r)),
    conic-gradient(#000 0 0) content-box;
}

.kk-stamp__art {
  display: block;
  width: 100%;
  padding: 12px;
  height: auto;
  background: #F4D35E;
}
